.card-list {
  width: 85vw;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.input-search {
  padding: 10px;
  box-shadow: 4px 4px 8px #888888;
  border: 1px solid #000;
}
input::placeholder {
  font-size: 15px;
}
@media(max-width:1536px){
  .card-list{
    grid-template-columns: 3fr 3fr 3fr;
  }
}
@media(max-width:1280px){
  .card-list{
    grid-template-columns: 3fr 3fr 3fr;
  }
}
@media(max-width:1024px){
  .card-list{
    grid-template-columns: 2fr 2fr;
  }
}
@media (max-width: 768px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
@media(max-width:425px){
  .card-list{
    /* width: 70vw; */
    margin-left: 2rem;
  }
}
@media(max-width:375px){
  .card-list{
    /* width: 70vw; */
    margin-left: 0.7rem;
  }
}
